@import "tailwindcss";

@theme {
  --color-lumi-blue: #00659A;
  --color-lumi-yellow: #FFEA01;
  --color-lumi-red: #DA251D;
  --color-lumi-green: #9DCD16;
  --color-lumi-orange: #FF9D00;
}

body {
  background-color: #f1f1f1;
}

.lumi-announcement {
  @apply bg-lumi-blue text-white rounded-lg p-6 mb-8;

  p {
    @apply text-white mb-2;
  }

  a {
    @apply text-white underline;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  p {
    @apply mb-5;
  }

  h1 {
    @apply font-bold text-2xl mb-5;
  }

  h2 {
    @apply font-bold text-xl mt-10 mb-5;
  }

  h3 {
    @apply font-bold text-lg mt-8 mb-4;
  }

  h4 {
    @apply font-semibold text-base mt-6 mb-3;
  }

  h5 {
    @apply font-semibold text-sm mt-4 mb-2;
  }

  h6 {
    @apply font-semibold text-sm mt-4 mb-2;
  }

  ul {
    padding-left: 1.2em;
  }

  ul li::before {
    content: "•";
    color: black;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  ol {
    padding-left: 1.2em;
    list-style-type: decimal;
  }

  p a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.markdown-content a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}